 

 body {
    background-image: url("file:///Users/cdixon10/Desktop/Git/images/background.png");
    background-repeat: no-repeat;
    background-size: 99% 90%;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 114px;
}

#courselist {

	height: 4%;
    width: 100%;
    background: white;
    position: fixed;
}

h1 { 
	color: white;
}
