 

 body {
    background-image: url("file:///Users/cdixon10/Desktop/Git/images/background.png");
    background-repeat: no-repeat;
    background-size: 99% 90%;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 114px;
}

#courselist {

	height: 4%;
    width: 100%;
    background: white;
    position: fixed;
}

h1 { 
	color: white;
}


.dropdown{
	display: inline;
	display: inline;
    margin-left: 60px;
    left: 30%;
}

.button{
	background color: transparent;
	border: none;



}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
