 

 body {
    background-image: url("file:///Users/cdixon10/Desktop/Git/images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}

#courselist {

	height: 126px;
	width: 192px;
	background: white;
}

h1 {

	color: white;
}
